<div class="signup-form">
  <div class="container">
    <div class="header">
      <h1>Create an Account</h1>
      <p>Get started for free!</p>
    </div>
    <form>
      <div class="input">
        <i class="fa fa-user-o"></i>
        <input type="text" placeholder="Username" />
      </div>
      <div class="input">
        <i class="fa fa-envelope-o"></i>
        <input type="email" placeholder="Email" />
      </div>
      <div class="input">
        <i class="fa fa-key"></i>
        <input
          type="password"
          (input)="onInput($event)"
          placeholder="Password"
          #input
        />
      </div>
      <span
        class="password-strength-indicator"
        [ngClass]="strengthClassName.name"
        *ngIf="input.value"
        >{{ strengthClassName.text }}</span
      >
      <input class="signup-btn" type="submit" value="SIGN UP" />
    </form>
  </div>
</div>
